body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lucida Console", "Courier New", monospace;
}
.text {
  color: white;
  font-family: "Courier New"
}

.background {
  background-color: #000000;
  min-height: 100vh;
}

